<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="SitemapFile" fileName="logs/watchdog-sitemap.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="DNSLookUPFile" fileName="logs/watchdog-dnslookups.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="uk.nhs.england.dnslookups" level="INFO">
            <AppenderRef ref="DNSLookUPFile"/>
        </Logger>
        <logger name="uk.nhs.england.dnslookups" level="ERROR">
            <AppenderRef ref="DNSLookUPFile"/>
        </logger>
        <Logger name="uk.nhs.england.sitemaps" level="INFO">
            <AppenderRef ref="SitemapFile"/>
        </Logger>
    </Loggers>
</Configuration>